@keyframes entrada-por-la-derecha {
    0%{
        transform: translateX(2000px);
    }
    100%{
        transform: translateX(0px);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif; 

}

a {
    text-decoration: none;
    color: white;
}


ul li {
    list-style: none;
    display: flex;
    justify-content: center;

}
ul {
    margin: 0;
    padding: 0;

}

/* --------------header--------*/

header {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
   
}

header nav ul {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    align-items: center;
}

.animacion:hover {
    transition-duration: 1s;
    color: rgb(23, 207, 23);
}

body{
    overflow-x: hidden;
}

/*  ------------ main---------*/

main {
    background-color: rgb(10, 32, 10);
}

.hero{
    background-image: url("https://i.pinimg.com/originals/4f/6f/d1/4f6fd184dd217d69a379af0c080c2056.jpg" );
    min-height: 80vh;
    padding: 20vh 10vw; 
    display: flex;
    justify-content: flex-end;
    color: white;
}
 .hero h1{
  
    text-align: center;
    font-size: 6rem;
    font-family: 'Moon Dance', cursive;
    font-weight: bold;
    color: white;
 }
 .hero-content{
    animation-name: entrada-por-la-derecha;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
    width: 50%;
 }

/*--------footer---------------*/

.contenedor {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
 

}

footer {
    background-color: rgb(10, 32, 10);
}

.icono{
    color: greenyellow;
    font-size: 2rem;
}
.bi-instagram{
    color: red;
}

/*================================APERITIVOS============================*/

/*-----------header-----------------*/
header {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

header nav ul {
    display: flex;
    gap: 20px;
}

.animacion:hover {
    transition-duration: 1s;
    color: rgb(23, 207, 23);
}


/*---------main--------------------*/
h1{
    font-family: 'Moon Dance', cursive;
    color: rgb(10, 32, 10);
    font-size: 6rem;
}

main .contenedor {
    display: flex;
    background-color: rgb(10, 32, 10);
    gap: 10px;
    justify-content: center;
    height: 80vh;
}

.aperitivos {
    width: 350px;
    height: 3500px;
}

main h2 {
    text-align: center;
    color: white;
    background-color: rgb(10, 32, 10);

}

/*---------------footer--------------------*/
.container {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer {
    background-color: rgb(10, 32, 10);
}

.home h4 {
    text-align: center;
}

/*=======================DESTILADOS==============================*/

/*--------------header-----------------------*/
header {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

header nav ul {
    display: flex;
    gap: 20px;
}

.animacion:hover {
    transition-duration: 1s;
    color: rgb(23, 207, 23);
}

/*------------------main---------------*/

main{
    background-color: rgb(232, 247, 232);
}
.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.carta {
    width: 300px;
    height: 300px;
    background: radial-gradient(rgb(23, 207, 23), rgb(10, 32, 10) );
    
    
    border: solid 3px;

    text-align: center;
    font-size: 1.8rem;
   

}


/*----------------footer----------------------*/
footer .destilados {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer {
    background-color: rgb(10, 32, 10);
}

.home h4 {
    text-align: center;
}


    /*====================VINOS Y ESPUMANTES======================*/

    /*-----------------header---------------------------*/
    
    header {
        background-color: rgb(10, 32, 10);
        color: white;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }
    
    header nav ul {
        display: flex;
        gap: 20px;
    }
    
    .animacion:hover {
        transition-duration: 1s;
        color: rgb(23, 207, 23);
    }

/*-------------------main------------------------*/

h3{
    text-align: center;
    font-size: 2rem;
    background-color:rgb(10, 32, 10) ;
    color: white;
}


/*-----------------------footer------------------------*/

.contenedor{
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
 

}

footer {
    background-color: rgb(10, 32, 10);
}

/*=======================CONTACTOS===============================*/

/*---------------header------------------------*/

header {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
   
}

header nav ul {
    display: flex;
    gap: 20px;
}

.animacion:hover {
    transition-duration: 1s;
    color: rgb(23, 207, 23);
}

body{
    overflow-x: hidden;
}

/*----------------------main---------------------------*/

.formulario-contacto {
    background-image: url("https://i.pinimg.com/originals/4f/6f/d1/4f6fd184dd217d69a379af0c080c2056.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    text-align: center;
}


/*--------------------------footer--------------------------*/

.contenedor {
    background-color: rgb(10, 32, 10);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
 

}

footer {
    background-color: rgb(10, 32, 10);
}

@media screen and (max-width:700px){
    header nav ul {
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
    .hero-content{
width: 100%;
    }
}




